<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser1</servlet-name>
        <servlet-class>mpkg.SaveUser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUser2</servlet-name>
        <servlet-class>SaveUser2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser2</servlet-name>
        <servlet-class>VerifyUser2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saveprod</servlet-name>
        <servlet-class>Saveprod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCategories</servlet-name>
        <servlet-class>ShowCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showitems</servlet-name>
        <servlet-class>showitems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetails</servlet-name>
        <servlet-class>ShowDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplyCart</servlet-name>
        <servlet-class>DisplyCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser1</servlet-name>
        <url-pattern>/SaveUser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser2</servlet-name>
        <url-pattern>/SaveUser2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser2</servlet-name>
        <url-pattern>/VerifyUser2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saveprod</servlet-name>
        <url-pattern>/Saveprod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCategories</servlet-name>
        <url-pattern>/ShowCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showitems</servlet-name>
        <url-pattern>/showitems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetails</servlet-name>
        <url-pattern>/ShowDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplyCart</servlet-name>
        <url-pattern>/DisplyCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
